**/.DS_Store
**/Thumbs.db
.DS_Store
/.gradle/
/.idea/.name
/.idea/artifacts/
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kotlinScripting.xml
/.idea/kotlinc.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/
/.idea/runConfigurations.xml
/.idea/shelf/
/.idea/sonarlint/
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build/
/local.properties
